:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --darkBlue: #101c4e;
  --teal: #068181;
  --lightTeal: #7cabaa;
  --lightBlue: #174f69;
  --white: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100dvw;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
